# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "npm" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10 # Øk grensen slik at den ikke stopper opp
    rebase-strategy: "auto" # Sørger for at PR-er alltid er oppdatert mot main
    groups:
      dependencies:
        patterns:
          - "*" # Grupperer oppdateringer (valgfritt, men ryddig)