---
import Layout from '../layouts/Layout.astro';

import ForsideSide from '../components/Forside.astro';
---
<Layout title="Tenner og Trivsel | Din Tannlege i Stavanger">
    <main>
        <ForsideSide/>
    </main>
</Layout>