---
import Layout from '../layouts/Layout.astro';

import Forside from '../components/Forside.astro';
---
<Layout title="Tenner og Trivsel | Din Tannlege i Stavanger">
    <main>
        <Forside/>
    </main>
</Layout>