---
import Layout from '../layouts/Layout.astro';

import GalleriSide from '../components/Galleri.astro';
---
<Layout title="Tenner og Trivsel | Din Tannlege i Stavanger">
    <main>
        <div class="pb-[35vh] md:mb-0">
            <GalleriSide variant="white" standalone />
        </div>
    </main>
</Layout>
