---
import Layout from '../layouts/Layout.astro';
import { getSiteSettings } from '../scripts/getSettings';

import GalleriSide from '../components/Galleri.astro';

const settings = await getSiteSettings();
---
<Layout
    title={`${settings.galleriTittel} | Tenner og Trivsel`}
    description={settings.galleriBeskrivelse}
>
    <main class="min-h-[50vh]">
        <GalleriSide variant="white" standalone />
    </main>
</Layout>
