---
import Layout from '../layouts/Layout.astro';

import Forside from '../components/Forside.astro';
import Kontakt from '../components/Kontakt.astro';
import Tjenester from '../components/Tjenester.astro';
import Tannleger from '../components/Tannleger.astro';
---
<Layout title="Tenner og Trivsel | Din Tannlege i Stavanger">
    <main>
        <Forside/>
        <Kontakt/>
        <div class="hidden md:block">
            <Tjenester/>
            <Tannleger/>
        </div>
    </main>
</Layout>