---
import Layout from '../layouts/Layout.astro';

import KontaktSide from '../components/Kontakt.astro';
---
<Layout title="Tenner og Trivsel | Din Tannlege i Stavanger">
    <main>
        <KontaktSide/>
    </main>
</Layout>