---
import Layout from '../layouts/Layout.astro';

import Kontakt from '../components/Kontakt.astro';
---
<Layout title="Tenner og Trivsel | Din Tannlege i Stavanger">
    <main>
        <Kontakt/>
    </main>
</Layout>