---
import Layout from '../layouts/Layout.astro';
import { getSiteSettings } from '../scripts/getSettings';

import TannlegerSide from '../components/Tannleger.astro';

const settings = await getSiteSettings();
---
<Layout
    title={`${settings.tannlegerTittel} | Tenner og Trivsel`}
    description={settings.tannlegerBeskrivelse}
>
    <main class="min-h-[50vh]">
        <TannlegerSide variant="white" />
    </main>
</Layout>
