---
import Layout from '../layouts/Layout.astro';

import Tannleger from '../components/Tannleger.astro';
---
<Layout title="Tenner og Trivsel | Din Tannlege i Stavanger">
    <main>
        <Tannleger/>
    </main>
</Layout>