---
import Layout from '../layouts/Layout.astro';

import TannlegerSide from '../components/Tannleger.astro';
---
<Layout title="Tenner og Trivsel | Din Tannlege i Stavanger">
    <main>
        <div class="pb-[35vh] md:mb-0 bg-brand-light">
            <TannlegerSide/>
        </div>
    </main>
</Layout>