---
import Layout from '../layouts/Layout.astro';

import Tjenester from '../components/Tjenester.astro';
---
<Layout title="Tenner og Trivsel | Din Tannlege i Stavanger">
    <main>
        <Tjenester/>
    </main>
</Layout>