---
import Layout from '../layouts/Layout.astro';
import { getSiteSettings } from '../scripts/getSettings';

import TjenesteSide from '../components/Tjenester.astro';

const settings = await getSiteSettings();
---
<Layout
    title={`${settings.tjenesterTittel} | Tenner og Trivsel`}
    description={settings.tjenesterBeskrivelse}
>
    <main class="min-h-[50vh]">
        <TjenesteSide variant="white" />
    </main>
</Layout>
