---
import Layout from '../layouts/Layout.astro';

import TjenesteSide from '../components/Tjenester.astro';
---
<Layout title="Tenner og Trivsel | Din Tannlege i Stavanger">
    <main>
        <div class="pb-[35vh] md:mb-0">
            <TjenesteSide/>
        </div>
    </main>
</Layout>