---
import Button from "./Button.astro";
import { getEntry } from 'astro:content';
const { class: className, variant = 'primary' } = Astro.props;
const ksEntry = await getEntry('kontaktskjema', 'kontaktskjema');
const aktiv = ksEntry?.data?.aktiv ?? false;
---
{aktiv && (
<Button id="open-contact-modal" variant={variant} class={`open-contact-modal ${className ?? ''}`}>
    Send melding
</Button>
)}
