---
import Button from "./Button.astro";
const { class: className, variant = 'primary' } = Astro.props;
// src/components/ContactButton.astro
---
<Button id="open-contact-modal" variant={variant} class={`open-contact-modal ${className}`}>
    Send melding
</Button>
