---
import {getSiteSettings} from '../scripts/getSettings';

const settings = await getSiteSettings();
---
{settings.showEmail === "ja" && (
<a href={`mailto:${settings.email}`}
   class="btn-primary">
    <span>✉️</span>{settings.email}
</a>
    )}
