---
const { activeMessage } = Astro.props;
---
{activeMessage && (
<div class="sticky top-0 z-[60] bg-slate-900 text-white py-2.5 px-4 relative z-[60] border-b border-white/10">
    <div class="container mx-auto flex items-center justify-center text-center">
        <p class="text-xs md:text-sm font-medium tracking-wide flex items-center gap-2">
            <span class="inline-block animate-pulse w-2 h-2 rounded-full bg-blue-400"></span>
            {activeMessage.data.title}
        </p>
    </div>
</div>
    )}