---
import { getSiteSettings } from '../scripts/getSettings';

const settings = await getSiteSettings();
---
<a href={`tel:${settings.phone1.replace(/\s+/g, '')}`}
   class="btn-primary">
    <span>📞</span> {settings.phone1}
</a>
